body {
	font-family: Verdana;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: #334;
	min-width: 1000px;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
} 

canvas{
	cursor: pointer;
}
h1 {
	margin-top: 10px;
}

h2,h3,h4,h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.pick-track-container {
	position: relative;
	margin: 0 auto;
	width: 300px;
}

.pick-track-cell {
	margin-bottom: 12px;
	display: block;
	vertical-align: middle;
}

.pick-track-box {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	background-color: #445;
	padding: 20px;
	border-radius: 5px;
	box-sizing: border-box;
}

.made-by{ background:#68687A;  text-align: left;}

.made-by ul li{
	list-style: none;
	
}

.made-by ul,
.made-by ul li{
	padding: 0;
}

.invisible {
	display: none;
	visibility: hidden;
}

a {
	cursor: pointer;
	color: #BBBBD1;
	text-decoration: none;
}

a:hover {
	color: #8383A2;
	/*color: #007eff;*/
}

audio{
	width: 100%;
}

#volume-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("../img/volume-down.png");
	background-size: 100%;
}

.red {
	color: red;
}

input[type="text"] {
	background-color: #68687A;
	width: 150px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    position: relative;
    padding: 5px;
    color: white;
    vertical-align: top;
}

input[type="text"]:focus {
	outline: 0;
	background-color: white;
    color: black;
}

.button {
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.button:focus {
	outline: 0;
}

.music-track{
	margin-top: 12px;
	padding: 24px;
	width: 100%;
}

#music-track-box {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #445;
}

#volume-container {
		padding-top: 5px;
	padding-bottom: 5px;
}